.special-heading {
  font-size: 7rem;
  background: linear-gradient(to top, rgba(96, 123, 241, 0.3), rgba(16, 202, 183, 0.3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  letter-spacing: -3px;
  text-align: center; }
  .special-heading + p {
    font-size: 1.3rem;
    color: rgba(48, 80, 102, 0.753);
    text-align: center;
    margin-top: -30px; }

@media (max-width: 768px) {
  .special-heading {
    font-size: 5rem; }
    .special-heading + p {
      font-size: 1.1rem; } }

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755; }

html {
  scroll-behavior: smooth; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-family: 'Work Sans', sans-serif; }

.parent {
  background-color: aqua; }

.container {
  margin: 0 auto;
  padding: 0 15px; }

.landing__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header__icons span:first-child, .header__icons span:nth-child(2), .header__icons span:last-child {
  height: 2px;
  width: 100%; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }

.header__links {
  position: relative; }
  .header__links:hover ul {
    display: block; }
  .header__links ul {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    list-style: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 20px);
    display: none;
    z-index: 1; }
    .header__links ul li:not(:last-child) a {
      border-bottom: 1px solid;
      border-color: #eee; }
    .header__links ul li a {
      text-decoration: none;
      display: block;
      padding: 15px;
      color: #333;
      transition: .3s; }
      .header__links ul li a:hover {
        padding-left: 25px;
        color: var(--main-color); }
    .header__links ul::before {
      content: "";
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #f6f6f6 transparent;
      position: absolute;
      top: -20px;
      right: 5px; }

.header__icons {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  .header__icons span {
    background-color: #333;
    margin-bottom: 5px; }
    .header__icons span:nth-child(2) {
      width: 60%;
      transition: .3s; }

.header__logo {
  width: 60px; }

.landing {
  background-image: linear-gradient(to top, rgba(29, 28, 28, 0.1), rgba(16, 202, 183, 0.1)), url(../images/zza-1920x1080.jpg);
  background-size: cover;
  filter: blur(0.8px);
  -webkit-filter: blur(0.8px);
  height: calc(100vh - 54px);
  position: relative; }
  .landing__intro {
    text-align: center;
    width: 320px;
    max-width: 100%;
    z-index: 4; }
    .landing__intro h1 {
      margin: 0;
      font-size: 3rem;
      font-weight: bold;
      color: var(--main-color); }
    .landing__intro p {
      margin: 0;
      line-height: 1.8; }

.features {
  background-color: #f6f6f6;
  padding: 50px 0; }
  .features__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px; }

.feat {
  text-align: center; }
  .feat h3 {
    font-weight: 800;
    color: var(--secondary-color); }
  .feat i {
    color: var(--main-color);
    font-size: 3rem;
    margin-bottom: 1rem; }
  .feat p {
    color: #424242;
    line-height: 1.8; }

.services {
  padding: 5rem 0; }
  .services__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 100px; }
    .services__content .col .image {
      width: 80%;
      height: 100%;
      object-fit: cover;
      position: relative;
      background: linear-gradient(to top, rgba(29, 28, 28, 0.1), rgba(16, 202, 183, 0.1));
      border: 2px solid var(--main-color); }
      .services__content .col .image::before {
        content: "";
        background-color: var(--secondary-color);
        width: 81px;
        height: calc(100% + 80px);
        position: absolute;
        right: 24px;
        top: -40px; }
    .services__content .col .srv {
      display: flex; }
      .services__content .col .srv i {
        color: var(--main-color);
        flex-basis: 60px; }
      .services__content .col .srv__text {
        flex: 1; }
        .services__content .col .srv__text h3 {
          margin: 0 0 20px 0; }
        .services__content .col .srv__text p {
          color: #444;
          line-height: 1.6;
          font-weight: 300; }

@media (max-width: 786px) {
  .col .srv {
    display: flex;
    flex-direction: column;
    text-align: center; } }

@media (max-width: 1200px) {
  .col .image {
    display: none; } }

.contact {
  padding: 3rem 0;
  padding-bottom: 4rem;
  background-color: #f6f6f6; }
  .contact__info {
    text-align: center; }
    .contact__info h2 {
      color: var(--secondary-color);
      font-size: 3rem;
      letter-spacing: -2px;
      font-weight: 800; }
    .contact__info a {
      text-decoration: none;
      color: var(--main-color);
      font-size: 2.5rem;
      font-weight: bold; }
  .contact__links {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 15px; }
  .contact .link {
    align-self: center; }
    .contact .link i {
      color: var(--secondary-color);
      margin-left: 15px;
      font-size: 1.5rem; }

@media (max-width: 786px) {
  .contact__info h2 {
    font-size: 1.8rem; }
  .contact__info a {
    font-size: 1.3rem; } }

.portfolio {
  padding: 5rem 0;
  background-color: #f6f6f6; }
  .portfolio__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px; }
    .portfolio__content .card {
      background-color: white;
      display: grid;
      grid-template-rows: 1fr .5fr; }
      .portfolio__content .card__info {
        padding: 20px; }
        .portfolio__content .card__info h3 {
          color: rgba(23, 23, 44, 0.966);
          font-style: italic; }
        .portfolio__content .card__info p {
          line-height: 1.6;
          color: var(--secondary-color); }
      .portfolio__content .card img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        object-fit: cover; }

.about {
  padding: 5rem 0;
  padding-bottom: 8rem; }
  .about__content {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .about__content img {
      box-shadow: 5px 8px 8px rgba(68, 68, 68, 0.219);
      object-fit: cover;
      border: 5px solid var(--secondary-color); }

.content__image {
  position: relative;
  width: 250px;
  height: 375px; }
  .content__image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1; }
  .content__image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 250px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px; }

.content-text {
  flex-basis: calc(100% - 500px); }
  .content-text p:first-of-type {
    line-height: 1.8;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.1rem;
    margin: 5rem 0; }
  .content-text p:last-of-type {
    line-height: 1.8; }
  .content-text hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (max-width: 992px) {
  .about__content {
    flex-direction: column;
    text-align: center;
    justify-content: center; }
    .about__content .content__image {
      width: auto;
      height: auto; }
      .about__content .content__image::before, .about__content .content__image::after {
        display: none; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
