.features {
    background-color: #f6f6f6;
    padding: 50px 0;

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 25px;

    }
}

.feat {
    text-align: center;

    h3 {
        font-weight: 800;
        color: var(--secondary-color);
    }

    i {
        color: var(--main-color);
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    p {
        color: rgb(66, 66, 66);
        line-height: 1.8;
    }
}

// services
.services {
    padding: 5rem 0;

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top: 100px;

        .col {
            .image {

                width: 80%;
                height: 100%;
                object-fit: cover;
                position: relative;
                background: linear-gradient(to top, rgba(rgb(29, 28, 28), .1), rgba(#10cab7, 0.1));
                border: 2px solid var(--main-color);

                &::before {
                    content: "";
                    background-color: var(--secondary-color);
                    width: 81px;
                    height: calc(100% + 80px);
                    position: absolute;
                    right: 24px;
                    top: -40px;
                }
            }

            .srv {
                display: flex;



                i {
                    color: var(--main-color);
                    flex-basis: 60px;

                }

                &__text {
                    flex: 1;

                    h3 {
                        margin: 0 0 20px 0;
                    }

                    p {
                        color: #444;
                        line-height: 1.6;
                        font-weight: 300;

                    }
                }
            }
        }
    }
}

// medai for services
@media(max-width:786px) {
    .col {
        .srv {
            display: flex;
            flex-direction: column;
            text-align: center;


        }
    }
}

//media for the serv image 
@media(max-width:1200px) {
    .col {
        .image {
            display: none;
        }
    }
}